{% extends 'base.html' %}

{% block list %}
    <div class="list-group">
        <a href="{% url 'show_book' %}" class="list-group-item ">
            <h4>图书列表</h4>
        </a>
        <a href="{% url 'show_author' %}" class="list-group-item">
            <h4>作者列表</h4>
        </a>
        <a href="{% url 'show_publish' %}" class="list-group-item">
            <h4>出版社列表</h4>
        </a>
        <a href="{% url 'show_login' %}" class="list-group-item active">
            <h4>用户登录</h4>
        </a>
    </div>
{% endblock %}

{% block table %}
    <form class="form-horizontal" action="" method="post">
                    <div class="form-group">
                        <label for="usr" class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" name="usr" class="form-control" id="usr" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" name="pwd" class="form-control" id="pwd" placeholder="请输入密码">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success btn-block">登录</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-sm-10">
                            <a href="/login_out/" >
                                    注销
                            </a>
                            <a href="/add_session/">添加session</a>
                            <a href="/get_session/">获取session</a>
                            <a href="/delete_session/">删除session</a>
                        </div>
                    </div>
                </form>
{% endblock %}


{% block script %}
<script>
    $('.btn').click(function () {
        $.ajax({
            url:'/show_login',
            type:'post',
            data: {
                usr:$('.form-control').eq(0).val(),
                pwd:$('.form-control').eq(1).val(),
                anniu:$('.btn').eq(0).val()
            },
            success :function (data) {
                console.log(data);


            }
        })

    })

</script>
{% endblock %}
